<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is working I guess :)</p>
    <p>You can run the server with npm start</p>
    <p>Then you view the site at localhost:3000</p>
    <p>When you make changes to the site, just reload to see it update.</p>
  </body>
</html>
