<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type ="text/css" href="stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Shaves and Fades</title>
</head>
<body>
    <div id="menu-mobile">
      <nav class="navbar navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="menu-mobile-item" href="#place">Welcome</a>
              <a class="menu-mobile-item" href="#place">About Us</a>
              <a class="menu-mobile-item" href="#place">Services</a>
              <a class="menu-mobile-item" href="#place">Appointments</a>
              <a class="menu-mobile-item" href="#place">Find Us</a>
              <a class="menu-mobile-item" href="#place">Follow Us</a>
          </div>
        </div>
      </nav>
    </div>
    <div id="welcome">
      <div id="logo-container">
        <img src="../images/logo.png" alt="logo" id="logo" />
      </div>

      <div id="menu">
        <a href="#place">Welcome</a>
        <a href="#place">About Us</a>
        <a href="#place">Services</a>
        <a href="#place">Appointments</a>
        <a href="#place">Find Us</a>
        <a href="#place">Follow Us</a>
      </div>

      <h1>Your real deal local barber shop</h1>

      <h2>Warsaw, IN</h2>
    </div>

    <div id="about">
      <div id="about-description">
        <h1>Look Good. Feel Good.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est in neque mattis blandit. Morbi luctus turpis sed odio efficitur, a sodales elit ultrices. Etiam ac libero ac nunc eleifend sagittis. Quisque eu semper magna. Mauris venenatis eget lectus ac fermentum. Proin venenatis tincidunt viverra. Duis pulvinar ligula arcu, eu laoreet ipsum convallis ut. Ut eget mattis quam. Vivamus mauris lacus, auctor sed interdum sed, tempor eu sapien.</p>
        <p>Ut ac est in neque mattis blandit. </p>
        <div id="about-appointment-button">
          <a class="btn btn-primary" href="appointment">Make your appointment today!</a>
        </div>
        <p>Phasellus rhoncus nulla erat, vel malesuada ante consectetur at. Nunc non nunc laoreet, pharetra mi non, convallis quam. Praesent fermentum, sapien quis sollicitudin tempor, nunc nunc blandit risus, quis gravida neque enim in ex. Morbi suscipit facilisis urna, porta pretium quam varius in. Aliquam erat volutpat.</p>

        <img src="../images/car.jpeg" alt="car" width=400 />
      </div>
      <div id="about-information">
        <h4>Location</h4>
        <p>808 North Somewhere</p>
        <p>Warsaw, IN 46580</p>

        <h4>Hours</h4>
        <p>Open 6 days a week by</p>
        <p>ONLINE APPOINTMENT ONLY</p>

        <h4>Shop</h4>
        <p>View our selection of products</p>
        <p>Available for purchase in store</p>
      </div>
    </div>
    
    <div id="header">
      <h1> Services we offer</h1>
    </div> 
    <div id="services">
    <div class = "row" id="services-description">
      
        <div class = "column" id = "column">  
          
          <p id= "thick">Regular Haircut $17+ </p> <p> <small>Regular cuts include the #1 guard and up. <br>Add razer blade line-up $5 extra</small></p>
          <p id = "thick">Zero Fade/Taper $20 </p> <p> <small>Zero fade or half guard (1/16th)</small></p>
          <p id = "thick">Zero Fade/Taper + line-up forehead $25+ <p> <small>Add hard part 2$ extra</small> <br></p>
          <p id = "thick">Beard Trim +lineup $15 </p> <p> <small>Hot lather and hot towel included<br><br></small></p>
          <p id = "thick">Razor/Bald Fades $23+ </p> <p><small>This service is done with a razor blade or a balding machine</small></p>
        </div>
        <div class = "column" id = "column">  
          <p id = "thick">Kids Regular Cut (12 Year and Under) $15 </p> <p><small>Regular haircuts go as low as 1 guard. <br>Forehead line is $5 extra<br></small></p>
          <p id ="thick">Kids Zero Fade & Lineup $22 </p> <p><small>Zero on the side and shape up the forehead. Hard part 2$ extra</small></p>
          <p id = "thick">Eyebrow Arching $9 <p><br></p><small></small></p>
          <p id = "thick">Resting Facial $13 </p> <p><small>Includes cleansing cream, exfoliation cream 2 hot towels, <br> moisturizing cream and facial steam machine</small></p>
          <p id = "thick">Hair Art Design $10+ </p> <p><small>This service should be booked for larger designs like flowers, lettering, logos</small></p>
        </div>
    </div>
  </div>

 
  <div id = "location">
    <div id = "location-info"> 
      <img src = "../images/Shaves_And_Fades_Logo.PNG" alt="logo" width = 400/>
      <p>Find <bold id = "thick"> Shaves and Fades</bold> near Dairy Queen in Winona </p>
      <p>2200 E Winona Ave In, Warsaw, 46580</p>
      </div>

      <div id = "location-gps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6000.7410906225!2d-85.82512705989656!3d41.235485780956694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88169d86467b4313%3A0xfa3f86328698a199!2sShaves%20and%20fades%20barbershop!5e0!3m2!1sen!2sus!4v1601837195783!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
  </div>

  
 
</div>

</body>
</html>