html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

#productHeader {
    font-family: 'Pacifico', cursive;
}

#galler-text {
    font-family: 'Pacifico', cursive;
}

#logo-container {
    text-align: center;
}

#logo {
    width: 200px;
    margin: 40px;
    margin-bottom: 150px;
    border-radius: 10px;
}

#menu-mobile {
    display: none;
}

.menu-mobile-item {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
}

.menu-mobile-item:first-child {
    margin-top: 10px;
}

.menu-mobile-item:hover {
    color: black;
    text-decoration: none;
}

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#menu a {
    padding: 25px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: 0.5s;
}

#menu a:hover {
    color: rgb(212, 175, 55);;
}

#welcome h1 {
    text-align: center;
    margin: 50px;
    font-weight: bold;
    font-size: calc(4rem + 1vw);
    color: white;
    text-transform: uppercase;
}

#welcome h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: calc(1rem + 1vw);
}

#welcome {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../compressed-images/background.jpg");
    background-size: 1920px 1080px;
    padding: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 2px;
}

#about-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#about {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    max-width: 1000px;
    margin: 40px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.75);
    min-width: 300px;
}

#about h1 {
    color: rgba(0, 0, 0, 1);
}

#about h4 {
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

#about img {
    margin-top: 20px;
}

#about-description {
    padding: 20px;
    flex: 1;
    min-width: 250px;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

#about-image {
    width: 50%;
    min-width: 200px;
    max-width: 400px;
}

#about-information {
    padding: 20px;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

#about-information h4 {
    font-size: 2rem;
    color: black;
}

#hours-side-bar,
#shop-side-bar {
    padding-top: 20px;
}

#location-side-bar a,
#shop-side-bar a {
    color: black;
    transition: 0.5s;
    text-decoration: none;
}

#location-side-bar a:hover,
#shop-side-bar a:hover {
    color: rgb(212, 175, 55);
    text-decoration: none;
}

.link-icon {
    font-size: 1.7rem !important;
    color: rgb(212, 175, 55) !important;
}

.review-card {
    width: 18rem;
    margin: 20px;
    border-color: black !important;
    border-width: 2px !important;
    box-shadow: 10px 10px lightgray;
    padding: 15px;
    border-radius: 10px !important;
}

.review-card-title {
    font-size: 2rem !important;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(212, 175, 55);
}

#review-container {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.75);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

#review-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#button-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    text-align: center;
    margin: 50px;
    background-color: black;
    border-width: 5px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    font-size: 1.6rem;
    transition: 0.5s;
    font-weight: 600;
    width: 300px;
}

.button a,
.button a:hover {
    color: white;
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(212, 175, 55);
}

#services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    background-color: white;
    justify-content: center;
    align-items: center;
}

#services-description {
    font-size: 20px;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 50px;
    margin-top: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#services h4 {
    color: black;
}

#header {
    margin-top: 10px;
    padding: 30px;
    padding-left: 10px;
    padding-top: 50px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
    background-color: white;
    text-align: center;
}

#header h1 {
    flex: 2;
    color: rgba(0, 0, 0, 1);
    font-family: 'Pacifico', sans-serif;
}

#column p {
    margin-bottom: 30px;
}

#column #thick {
    margin-bottom: 0px;
}

#column-mobile p {
    margin-bottom: 50px;
}

#column-mobile #thick {
    margin-bottom: 0px;
}

#column-mobile-horizontal p {
    margin-bottom: 40px;
}

#column-mobile-horizontal #thick {
    margin-bottom: 0px;
}

#thick {
    font-weight: 500;
    color: black;
    margin-bottom: 0px;
}

#bar {
    margin: 0 auto;
    width: 100px;
    height: 10px;
    background-color: rgb(212, 175, 55);
}

#location {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: center;
    align-items: center;
}

#location-info {
    padding: 50px;
    flex: 0 0 2;
}
#location-info-mobile {
    padding: 50px;
    flex: 0 0 2;
    display: none;
}

#location-gps {
    margin: 10px;
    padding: 50px;
    flex: 0 0 2;
}

#location-gps-mobile {
    display: flex;
    flex-wrap: wrap;
    display: none;
    padding: 50px;
}

#column {
    margin: 40px;
}

#column-mobile {
    padding: 20px;
    display: none;
}

#column-mobile-horizontal {
    display: none;
}
#appointmentSection {
    
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../compressed-images/TakeASeat-ConvertImage.png");
    background-size: 1920px 1080px;
    padding: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    
}

#appointmentHeader{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    font-size: calc(4rem + 1vw);
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
#appointmentInfo{
    display: block;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    
}

#appointmentSection-mobile {
    display: none;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../compressed-images/TakeASeat-ConvertImage.png");
    background-size: 1000px 865px;
    padding: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    
}

#appointmentHeader-mobile{
    display: none;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    font-size: calc(4rem + 1vw);
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
#appointmentInfo-mobile{
    display: none;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    
}

#bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    font-weight: 300;
    color: white;
    background-color: black;
    margin: auto;
    justify-content: center;
    text-decoration: none;
}

#bottomcolumn {
    font-size: 15px;
    text-align: center;
}

#copyright {
    color: rgb(212, 175, 55);
}

#gallery {
    display: grid;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 40px;
    padding-bottom: 100px;
    justify-content: center;
    gap: 20px;
    grid-template-columns: 250px 250px 250px 250px;
}

#gallery img{
    width:100%;
  }

#galleryText{
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    padding: 20px;
}

#productHeader {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
.carousel-item{
    height: 1150px;
    max-height: 1150px;
}

@media only screen and (min-width: 3000px) {
    html {
        font-size: 90%;
    }
}

@media only screen and (min-width: 2000px) {
    #about,
    #review-container {
        max-width: 50%;
    }
}


@media only screen and (max-width: 1665px) {
    #column {
        display: none;
    }
  
    #column-mobile {
        display: none;
    }
  
    #column-mobile-horizontal {
        display: block;
    }

    .carousel-item{
        height: 1050px;
        max-height: 1050px;
    }
}

@media only screen and (max-width: 1350px) {
    .carousel-item{
        height: 750px;
        max-height: 750px ;
    }
}

@media only screen and (max-width: 1150px) {
    #gallery {
        grid-template-columns: 250px 250px 250px;
    }

    
}


@media only screen and (max-width: 865px) {
    #location-gps {
        display: none;
    }
  
    #location-gps-mobile {
        display: block;
    }

    #column {
        display: none;
    }
  
    #column-mobile-horizontal {
        display: none;
    }
  
    #column-mobile {
        display: block;
        margin-bottom: 100px;
    }
    #appointmentSection{
        display: none;
    }
    #appointmentHeader{
        display: none;
    }
    #appointmentInfo-mobile{
        display: none;
    }

    #appointmentSection-mobile{
        display: block;
    }
    #appointmentHeader-mobile{
        display: block;
    }
    #appointmentInfo-mobile{
        display: block;
    }
    #gallery {
        grid-template-columns: 185px 185px 185px;
    }
    .carousel-item{
        height: 600px;
        max-height: 600px;
    }
}


@media only screen and (max-width: 600px) {
    #menu {
        display: none;
    }

    #menu-mobile {
        display: block;
    }

    #about-information {
        text-align: center;
    }

    #about-description {
        text-align: center;
    }

    #gallery {
        grid-template-columns: 140px 140px 140px;
    }

    .carousel-item{
        height: 350px;
        max-height: 350px;
    }
}

@media only screen and (max-width: 525px) {
    #location-info {
        display: none;
    }
    #location-info-mobile {
        display: block;
    }

    #gallery {
        grid-template-columns: 100px 100px 100px;
    }
}

@media only screen and (max-width: 370px) {
    #gallery {
        grid-template-columns: 85px 85px 85px;
    }
    .carousel-item{
        height: 250px;
        max-height: 250px;
    }
}

@media only screen and (max-width: 300px) {
    #gallery {
        grid-template-columns: 75px 75px 75px;
    }
}
